* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../images/Background.png");
    background-repeat: repeat;
}

.headerContainer {
    width: 80%;
    margin: 0 auto;
}

header {
    font-family: 'Georgia', Times, Times New Roman, serif;
    background-color: #ffffff;
    position: relative;
    height: 95px;
    border-bottom: 15px solid #55c5c0;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    text-align: center;
    float: left;
    display: block;
    height: 100%;
    width: 300px;
    background-color: #55c5c0;
    position: absolute;
}

.logo {
    margin-top: 5px
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 50px;
    padding-top: 25px;
    height: 100%;
    position: relative;
}

nav a {
    color: #b9b5b5;
    text-decoration: none;
    font-size: 25px;
    font-weight: normal;
    transition: all ease-in 200ms;
}

nav a:hover {
    color: #55c5c0;
}

nav a::before {
    content: '';
    display: block;
    background: #55c5c0;
    height: 4px;
    width:0%;
    position: absolute;
    top: 0;
    transition: all ease-in-out 200ms; 
}

nav a:hover::before {
    width:100%
}

.paragraphContainer {
    width: 40%;
    margin: 20px 0 120px 150px;
    float: left;
    background-color: white;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 22px;
    color: #55c5c0;
    padding:0 0 5px 0;
    margin: 20px 20px 10px 20px;
    border-bottom: solid 2px #55c5c0;
    z-index: 10;
}

.profilePic {
    width: 45%;
    height: auto;
    float: left;
    margin: 17px 17px 17px 17px;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.7);
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #808080;
    margin: 20px 20px 20px 20px;
}

.asideContainer {
    margin: 20px 150px 120px 0;
    background-color: white;
    float: right;
}

.asideContainer::before, .asideContainer::after {
    content: '';
    display: table;
}

.asideContainer::after {
    clear :both;
}

.socialMedia {
    margin:20px 20px 35px;
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #686868;
    float: left;
    box-shadow: -5px 5px rgba(0, 0, 0, 0.7);
}


#linkedIn {
    background: url("../images/Linkedin.png");
    transition: all ease-in-out 300ms;
}

#linkedIn:hover {
    background-position: 0 -100px;
}

#gitHub {
    background: url("../images/Github.png");
    transition: all ease-in-out 300ms;
}

#gitHub:hover {
    background-position: 0 -100px;
}

#facebook {
    background: url("../images/Facebook.png");
    transition: all ease-in-out 300ms;
}

#facebook:hover {
    background-position: 0 -100px;
}

#instagram {
    background: url("../images/Instagram.png");
    transition: all ease-in-out 300ms;
}

#instagram:hover {
    background-position: 0 -100px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #686868;
    position: fixed;
    bottom: 0;
    border-top: 4px solid #55c5c0;    
}

h3 {
    margin-top: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #b9b5b5;
}


